# Streamlit secrets file
.streamlit/secrets.toml

# Local databases
*.db

# Data files
*.csv

# Python cache
__pycache__/
*.pyc

# Other local files
label_studio/
question_database/
response_collector.py
convert_db.py
streamlit/